.vung-bao {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .vung-bao {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .vung-bao {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .vung-bao {
        width: 1170px;
    }
}
.bs-phanhoi{
    margin-top:100px;
}

.bs-tieude {
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 68, 68);
}

.feedback-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.feedback-name {
    font-size: 15px;
    font-weight: bold;
    color:  #666;
    margin-top: 10px;
    margin-bottom: 5px;
}

.feedback-title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(70, 68, 68);
}

.feedback-info {
    font-size: 13px;
    cursor: pointer;
}


.feedback-content {
    padding-top: 5px;
    font-size: medium;
    color:  #666;
}
.image img{
    border: solid 1px rgb(230, 225, 225);
}