<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>
    <link rel="stylesheet" href="/css/information.css">
</head>

<body>

    <div class="user-profile">
        <div class="container">
            <div class="row">
                <!-- <div>
                    <button class="button">Đăng xuất</button>
                    <button class="button">Xem lịch khám bệnh</button>
                </div> -->

                <div class="card id">
                    <div class="card-header">
                        <img class="profile_img" src=".\images\bs1.jpg" alt="user dp">
                        <h3>Nguyễn Duy Hưng</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>User ID:</strong>321000001</p>
                    </div>
                </div>
                <div class="card general">
                    <div class="card-header">
                        <h3><i></i>Thông tin chung</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th width="30%">Họ tên</th>
                                <td width="2%">:</td>
                                <td>Nguyễn Duy Hưng</td>
                            </tr>
                            <tr>
                                <th width="30%">Năm sinh </th>
                                <td width="2%">:</td>
                                <td>1968</td>
                            </tr>
                            <tr>
                                <th width="30%">Giới tinh</th>
                                <td width="2%">:</td>
                                <td>Nam</td>
                            </tr>
                            <tr>
                                <th width="30%">Địa chỉ</th>
                                <td width="2%">:</td>
                                <td>207 Phố Huế - Hai Bà Trưng - Hà Nội</td>
                            </tr>
                            <tr>
                                <th width="30%">Số điện thoại</th>
                                <td width="2%">:</td>
                                <td>0370234341</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card other">
                    <div class="card-header">
                        <h3><i></i>Thông tin lịch khám</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th width="30%">Ngày khám</th>
                                <td width="2%"></td>
                                <td>Bác sĩ khám</td>
                                <td width="2%"></td>
                                <td>Lí do khám</td>
                                <td width="2%"></td>
                                <td>Chi tiết</td>
                            </tr>
                            <tr>
                                <th width="30%">12-2 </th>
                                <td width="2%"></td>
                                <td>Nguyễn Duy Hưng</td>
                                <td width="2%"></td>
                                <td>Đau đầu</td>
                                <td width="2%"></td>
                                <td><button>Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <th width="30%">30-7</th>
                                <td width="2%"></td>
                                <td>Nguyễn Duy Hưng</td>
                                <td width="2%"></td>
                                <td>Đau đầu</td>
                                <td width="2%"></td>
                                <td><button>Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <th width="30%">20-8</th>
                                <td width="2%"></td>
                                <td>Nguyễn Duy Hưng</td>
                                <td width="2%"></td>
                                <td>Đau đầu</td>
                                <td width="2%"></td>
                                <td><button>Xem chi tiết</button></td>
                            </tr>
                        </table>
                    </div>


                </div>
                <div class="card other">
                    <div class="card-header">
                        <h3><i></i>Thông tin lịch khám</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th width="30%">Ngày khám</th>
                                <td width="2%"></td>
                                <td>Bác sĩ khám</td>
                                <td width="2%"></td>
                                <td>Lí do khám</td>
                                <td width="2%"></td>
                                <td>Chi tiết</td>
                            </tr>
                            <tr>
                                <th width="30%">12-2 </th>
                                <td width="2%"></td>
                                <td>Nguyễn Duy Hưng</td>
                                <td width="2%"></td>
                                <td>Đau đầu</td>
                                <td width="2%"></td>
                                <td><button>Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <th width="30%">30-7</th>
                                <td width="2%"></td>
                                <td>Nguyễn Duy Hưng</td>
                                <td width="2%"></td>
                                <td>Đau đầu</td>
                                <td width="2%"></td>
                                <td><button>Xem chi tiết</button></td>
                            </tr>
                            <tr>
                                <th width="30%">20-8</th>
                                <td width="2%"></td>
                                <td>Nguyễn Duy Hưng</td>
                                <td width="2%"></td>
                                <td>Đau đầu</td>
                                <td width="2%"></td>
                                <td><button>Xem chi tiết</button></td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>



</body>
<script src="script.js"></script>


</html>