<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/doctor.css">

</head>

<body>

    <section class="doctor" id="doctor">

        <h1 class="heading">
            <span>D</span>
            <span>o</span>
            <span>c</span>
            <span>t</span>
            <span>o</span>
            <span>r</span>
        </h1>
        
        <div class="box">
            <img src="images/bs1.jpg" alt="">
            <h3>PGS.TS Nguyễn Duy Hưng</h3>
            <p>Bác sĩ từng công tác tại Bệnh viện Da liễu Trung ương</p>
            <p>Giảng viên bộ môn Da liễu tại Đại Học Y Hà Nội</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="/doctor/schedule?d=namedoctor" class="btn">Đặt lịch</a>
        </div>
        <div class="box">
            <img src="images/bs1.jpg" alt="">
            <h3>PGS.TS Nguyễn Duy Hưng</h3>

            <p>Bác sĩ từng công tác tại Bệnh viện Da liễu Trung ương</p>
            <p>Giảng viên bộ môn Da liễu tại Đại Học Y Hà Nội</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="/book.html" class="btn">Đặt lịch</a>
        </div>
        <div class="box">
            <img src="images/bs1.jpg" alt="">
            <h3>PGS.TS Nguyễn Duy Hưng</h3>

            <p>Bác sĩ từng công tác tại Bệnh viện Da liễu Trung ương</p>
            <p>Giảng viên bộ môn Da liễu tại Đại Học Y Hà Nội</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="/book.html" class="btn">Đặt lịch</a>
        </div>
        <div class="box">
            <img src="images/bs1.jpg" alt="">
            <h3>PGS.TS Nguyễn Duy Hưng</h3>

            <p>Bác sĩ từng công tác tại Bệnh viện Da liễu Trung ương</p>
            <p>Giảng viên bộ môn Da liễu tại Đại Học Y Hà Nội</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="/book.html" class="btn">Đặt lịch</a>
        </div>

        <div class="box">
            <img src="images/bs2.jpg" alt="">
            <h3>PGS.TS Nguyễn Duy Hưng</h3>

            <p>Bác sĩ từng công tác tại Bệnh viện Da liễu Trung ương</p>
            <p>Giảng viên bộ môn Da liễu tại Đại Học Y Hà Nội</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="/book.html/2" class="btn">Đặt lịch</a>
    </section>

</body>
<script src="script.js"></script>

</html>