<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" href="/book.css">

</head>

<body>
    <section class="book" id="book">

        <h1 class="heading">
            <span>b</span>
            <span>o</span>
            <span>o</span>
            <span>k</span>
            <span class="space"></span>
            <span>n</span>
            <span>o</span>
            <span>w</span>
        </h1>
    
        <div class="row">
    
            <div class="image">
                <img src="images/bs1.jpg" alt="">
                <h2>PGS.TS Nguyễn Duy Hưng</h3>
                <p>Bác sĩ từng công tác tại Bệnh viện Da liễu Trung ương</p>
                <p>Giảng viên bộ môn Da liễu tại Đại Học Y Hà Nội</p>
            
            </div>
    
            <form action="">
                <div class="inputBox">
                    <h3>Họ và Tên</h3>
                    <input type="text" placeholder="" name="bookinput1"> 
                </div>
                <div class="inputBox">
                    <h3>Số điện thoại</h3>
                    <input type="text" placeholder="" name="bookinput2">
                </div>
                <div class="inputBox">
                    <h3>Năm sinh</h3>
                    <input type="date" name="bookinput3">
                </div>
                
                <div class="inputBox">
                    <h3>Địa chỉ</h3>
                    <input type="text" placeholder="" name="bookinput4">
                </div>
               
                
                <div class="inputBox">
                    <h3>Lý do khám</h3>
                    <textarea class="rea"  cols="10" rows="5" name="bookinput5"></textarea>
                </div>
               
                <div class="inputBox">
                    <h3>Lịch khám </h3>
                    <input type="date" name="bookinput6">
                </div>
                <input type="submit" class="btn" value="book now" name="bookinput7">
            </form>
    
        </div>
    
    </section>
    

    
    
    
</body>

</html>