
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/css/feedback.css">

</head>

<body>
    <section class="feedback" id="feedback">
    
        <h1 class="heading">
            <span>f</span>
            <span>e</span>
            <span>e</span>
            <span>d</span>
            <span>b</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
        </h1>
    
        <div class="row">
    
            <div class="image">
                <img src="images/positive-vote.svg" alt="">
            </div>
    
            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder="name" name="feedbackinput1">
                    <input type="email" placeholder="email" name="feedbackinput2">
                </div>
                <div class="inputBox">
                    <input type="number" placeholder="number" name="feedbackinput3">
                    <input type="text" placeholder="subject" name="feedbackinput4">
                </div>
                <textarea placeholder="message" name="" id="" cols="30" rows="10" name="feedbackinput5" ></textarea>
                <input type="submit" class="btn" value="send message" name="feedbackinput6">
            </form>
    
        </div>
        
    </section>
</body>

