<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/feedback.css">
    <link rel="stylesheet" href="/css/feedback-2.css">

</head>

<body>
    <section class="contact" id="contact">

        <h1 class="heading">
            <span>f</span>
            <span>e</span>
            <span>e</span>
            <span>d</span>
            <span>b</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
        </h1>

        <div class="row">

            <div class="image">
                <img src="images/rating.svg" style="border-radius: 50%;" alt="">
            </div>

            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder="name">
                    
                </div>
                <textarea placeholder="title" id="" cols="30" rows="1"></textarea>
                <textarea placeholder="feedback" name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" class="btn" value="send feedback">
            </form>

        </div>
        <div style="height: 100px;"> </div>
        <div class="bs-phanhoi" id="bs-phanhoi">
            <div class="vung-bao">
                <h2 class="bs-tieude">Phản hồi của bệnh nhân sau khi đi khám</h2>
                <div class="feedback-list">
                    <div class="feedback-item">
                        <div class="feedback-name">Đặng Tuấn Khang
                        </div>
                        <div class="feedback-title">Hài lòng
                        </div>
                        <div class="feedback-content"> Bác sĩ rất tận tình, chu đáo, chất lượng dịch vụ tốt. Đánh giá 5
                            sao </div>
                    </div>
                    <div class="feedback-item">
                        <div class="feedback-name">Vũ Tuệ Nhi</div>
                        <div class="feedback-title">Tạm được</div>
                        <div class="feedback-content">Bác sĩ tận tình nhưng thời gian bị chậm so với lịch hẹn khám</div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>


<!-- custom js file link  -->
<script src="script.js"></script>

</html>