/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  margin-top: 70px; }

.home-section .home-content {
  position: relative;
  padding-top: 20px; }

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px; }

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500; }

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500; }

.home-content .box .indicator {
  display: flex;
  align-items: center; }

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #ffa500;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px; }

.box .indicator i.down {
  background: #e87d88; }

.home-content .box .indicator .text {
  font-size: 12px; }

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px; }

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8; }

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3; }

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7; }

.home-content .total-order {
  font-size: 20px;
  font-weight: 500; }

.home-content .accounts-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */ }

.number-box {
  padding-top: 20px; }

/* left box */
.home-content .accounts-boxes .recent-accounts {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.home-content .accounts-boxes .accounts-details {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.accounts-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */ }

.accounts-boxes .accounts-details li.topic {
  font-size: 20px;
  font-weight: 500; }

.accounts-boxes .accounts-details li {
  list-style: none;
  margin: 8px 0; }

.accounts-boxes .accounts-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none; }

.accounts-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.accounts-boxes .box .button a {
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none; }

.accounts-boxes .box .button a:hover {
  background: #0d3073; }

.box-topic {
  margin-top: 10px;
  margin-bottom: 10px; }

.indicator {
  margin-top: 5px;
  margin-bottom: 15px; }

/* Right box */
.home-content .accounts-boxes .recent-feedbacks {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.accounts-boxes .recent-feedbacks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-top: solid 1px grey;
  padding-top: 10px; }

.accounts-boxes .recent-feedbacks li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333; }

.accounts-boxes .recent-feedbacks li a {
  display: flex;
  align-items: center;
  text-decoration: none; }

.accounts-boxes .recent-feedbacks li .name,
.feedback {
  font-size: 17px;
  font-weight: 400;
  color: #333; }

/* Responsive Media Query */
@media (max-width: 1240px) {
  .home-section {
    width: calc(100% - 60px);
    left: 60px; }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px; } }

@media (max-width: 1150px) {
  .home-content .accounts-boxes {
    flex-direction: column; }
  .home-content .accounts-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px; }
  .home-content .accounts-boxes .recent-feedbacks {
    margin: 0; } }

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px; } }

@media (max-width: 700px) {
  .home-content .accounts-boxes .accounts-details {
    width: 560px; } }

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px; } }
