.vung-bao {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .vung-bao {
    width: 750px; } }

@media (min-width: 992px) {
  .vung-bao {
    width: 970px; } }

@media (min-width: 1200px) {
  .vung-bao {
    width: 1170px; } }

.bs-tieude {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold; }

.feedback-item {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid grey; }

.feedback-name {
  font-size: 15px;
  font-weight: bold; }

.feedback-title {
  font-size: 15px;
  font-weight: bold; }

.feedback-info {
  font-size: 13px;
  cursor: pointer; }

.feedback-content {
  padding-top: 5px;
  font-size: medium; }
