@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --main-color:#ffa500; }

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear; }

.home .content .text {
  font-size: 1.7rem;
  color: #666;
  padding: .5rem 0; }

.about .row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 0rem; }

.about .row-1 .image {
  flex: 1 1 25rem; }

.about .row-1 .image img {
  height: 97%;
  width: 80%;
  object-fit: cover;
  border: 1rem solid #fff;
  border-radius: 30rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.about .row-1 .content {
  flex: 1 1 50rem; }

.about .row-1 .content h3 {
  color: #333;
  font-size: 3.5rem; }

.about .row-1 .content p {
  color: #666;
  font-size: 1.7rem;
  padding: .5rem 0; }

.about .row-1 .content .box-container {
  display: block;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0; }

.about .row-1 .content .box-container .box {
  flex: 1 1 20rem; }

.about .row-1 .content .box-container .box span {
  color: var(--main-color); }

.about .row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center; }

.about .row-2 .skills {
  flex: 1 1 40rem; }

.about .row-2 .skills .progress {
  padding: 1rem 0; }

.about .row-2 .skills .progress h3 {
  display: flex;
  justify-content: space-between;
  padding: .7rem 0;
  font-size: 1.7rem;
  color: #111;
  font-weight: 400; }

.about .row-2 .skills .progress .bar {
  width: 100%;
  background: #ccc;
  overflow: hidden;
  height: 1rem;
  border-radius: 50rem; }

.about .row-2 .skills .progress .bar span {
  display: block;
  height: 100%;
  background: var(--main-color);
  border-radius: 50rem; }

.about .row-2 .box-container {
  flex: 1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; }

.about .row-2 .box-container .box {
  flex: 1 1 15rem;
  background: #fff;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.about .row-2 .box-container .box h3 {
  color: var(--main-color);
  font-size: 3rem; }

.about .row-2 .box-container .box p {
  color: #666;
  font-size: 1.7rem;
  padding-top: 0rem; }

.experience .box-container {
  display: flex;
  flex-wrap: wrap; }

.experience .box-container .box {
  position: relative;
  flex: 1 1 100rem;
  border-left: 0.2rem solid var(--main-color);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem; }

.experience .box-container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--main-color); }

.experience .box-container .box .content {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem; }

.experience .box-container .box .content span {
  color: #fff;
  font-size: 1.7rem;
  background: var(--main-color);
  border-radius: 50rem;
  padding: .4rem 1rem; }

.experience .box-container .box .content h3 {
  font-size: 2.5rem;
  padding: .5rem 0;
  color: #111; }

.experience .box-container .box .content p {
  font-size: 1.5rem;
  color: #666; }

.editinfo {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }

.editinfo.active {
  top: 0; }

.editinfo form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background: #fff;
  width: 50rem; }

.editinfo form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0; }

.editinfo form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
  border-radius: .5rem; }

.editinfo form .box:focus {
  border-color: var(--orange); }

.editinfo form #rememberr {
  margin: 2rem 0; }

.editinfo form label {
  font-size: 1.5rem; }

.editinfo form .btn {
  display: block;
  width: 100%;
  border-radius: .5rem; }

.editinfo form p {
  padding: .5rem 0;
  font-size: 1.5rem;
  color: #666; }

.editinfo form p a {
  color: var(--orange); }

.editinfo form p a:hover {
  color: #333;
  text-decoration: underline; }

.editinfo #off {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer; }

.box-container .content p {
  margin-bottom: 10px;
  margin-top: 5px; }

.box-container .content h3 {
  margin-top: 10px; }
