<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Hust CARE</h3>
                <p>Công ty Cổ phần Công nghệ HustCARE</p>
                <p>Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
                <p>Điện thoại: 024 3869 4242</p>
            </div>
            <div class="box">
                <h3>Thành viên</h3>
                <a href="#">Trần Nam Anh</a>
                <a href="#">Trần Tuấn Anh</a>
                <a href="#">Nguyễn Tiến Đạt</a>
                <a href="#">Hoàng Minh Lương</a>
            </div>

            <div class="box">
                <h3>Mạng xã hội</h3>
                <a href="#">Github</a>
                <a href="#">Facebook</a>
                <a href="#">twitter</a>
                <a href="#">linkedin</a>
            </div>

        </div>

        <h1 class="credit"> Nhóm 21 | Hust CARE </h1>

    </section>

</footer>


</html>