<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/style.css">

</head>
<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>Hust</span>CARE</a>

    <nav class="navbar">
        <a href="/home.html">Trang chủ</a>
        <a href="/feedback.html">Đánh giá</a>
        <a href="/doctor.html">Bác sĩ</a>
        <a href="/account.html">Thông tin cá nhân</a>   

        
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="Tìm kiếm thông tin">
        <label for="search-bar" class="fas fa-search"></label>
    </form>
    <div class="login-form-container">
    
        <i class="fas fa-times" id="form-close"></i>
    
        <form action="">
            <h3>Đăng nhập</h3>
            <input type="email" class="box" placeholder="Nhập địa chỉ email">
            <input type="password" class="box" placeholder="Nhập mật khẩu">
            <input type="submit" value="Đăng nhập" class="btn">
            <input type="checkbox" id="remember">
            <label for="remember">Nhớ mật khẩu</label>
         
            <p>Tạo tài khoản mới ? <a href="#" id="reg">Đăng kí</a></p>
        </form>
    
    </div>
    <div class="signup-form-container">
    
        <i class="fas fa-times" id="form-closee"></i>
    
        <form action="">
            <h3>Đăng ký</h3>
            <input type="email" class="box" placeholder="Nhập địa chỉ email">
            <input type="text" class="box" placeholder="Họ và tên">
            <input type="password" class="box" placeholder="Nhập mật khẩu">
            <input type="password" class="box" placeholder="Xác nhận mật khẩu">
            <input type="tel" class="box" placeholder="Nhập số điện thoại">
    
            
            <input type="checkbox" id="rememberr">
            <label for="rememberr">Đồng ý đăng kí</label>
            <input type="submit" value="Đăng kí " class="btn">
    
            
        </form>
    
    </div>

    
</header>
<script src="script.js"></script>
</html>