<h1>Trang chủ</h1><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    
    
    
    
    <div class="login-form-container">
    
        <i class="fas fa-times" id="form-close"></i>
    
        <form action="">
            <h3>Đăng nhập</h3>
            <input type="email" class="box" placeholder="Nhập địa chỉ email">
            <input type="password" class="box" placeholder="Nhập mật khẩu">
            <input type="submit" value="Đăng nhập" class="btn">
            <input type="checkbox" id="remember">
            <label for="remember">Nhớ mật khẩu</label>
         
            <p>Tạo tài khoản mới ? <a href="#" id="reg">Đăng kí</a></p>
        </form>
    
    </div>
    <div class="signup-form-container">
    
        <i class="fas fa-times" id="form-closee"></i>
    
        <form action="">
            <h3>Đăng ký</h3>
            <input type="email" class="box" placeholder="Nhập địa chỉ email">
            <input type="text" class="box" placeholder="Họ và tên">
            <input type="password" class="box" placeholder="Nhập mật khẩu">
            <input type="password" class="box" placeholder="Xác nhận mật khẩu">
            <input type="tel" class="box" placeholder="Nhập số điện thoại">
    
            
            <input type="checkbox" id="rememberr">
            <label for="rememberr">Đồng ý đăng kí</label>
            <input type="submit" value="Đăng kí " class="btn">
    
            
        </form>
    
    </div>

    
    <section class="home" id="home">
    
        <div class="content">
            <h3>Sức khỏe của bạn là niềm vui của chúng tôi</h3>
            <p>GIEO MẦM HY VỌNG,GẶT TRỌN YÊU THƯƠNG</p>
           
        </div>
    
        <div class="controls">
            <span class="vid-btn active" data-src="images/vd-3.mp4"></span>
            <span class="vid-btn" data-src="images/vd-1.mp4"></span>
            <span class="vid-btn" data-src="images/vd-2.mp4"></span>
         
        </div>
    
        <div class="video-container">
            <video src="images/vd-3.mp4" id="video-slider" loop autoplay muted></video>
        </div>
    
    </section>
    

    
</body>
<script src="script.js"></script>
</html>