<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HustCARE</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/css/home.css">

</head>

<body>

    <section class="home" id="home">

        <div class="content">
            <h3>Sức khỏe của bạn là niềm vui của chúng tôi</h3>
            <p>GIEO MẦM HY VỌNG,GẶT TRỌN YÊU THƯƠNG</p>

        </div>

        <div class="controls">
            <span class="vid-btn active" data-src="/video/vd-3.mp4"></span>
            <span class="vid-btn" data-src="/video/vd-1.mp4"></span>
            <span class="vid-btn" data-src="/video/vd-2.mp4"></span>

        </div>

        <div class="video-container">
            <video src="/video/vd-3.mp4" id="video-slider" loop autoplay muted></video>
        </div>

    </section>


</body>
<script src="/js/home.js"></script>


</html>