<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công Nghệ WEB</title>
    <link rel="stylesheet" href="/css/adminpage.css">
</head>
<body>
    {{>header}}

    {{{body}}}

    {{>footer}}
</body>
    <script async src="https://api.countapi.xyz/hit/webnhom21/nhom21?callback=websiteVisit"></script>
    <script src="/js/adminpage.js"></script>
</html>